@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@400;500;600;700&display=swap');

body{
    background-color: #333333;
    color: rgba(255, 255, 255, 0.897);
    font-family: 'Concert One', cursive;
    font-family: 'Poppins', sans-serif
}