*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body{
    width: 100%;
    height: 100%;
    /* background-image: url(https://media.istockphoto.com/photos/online-electronics-shopping-picture-id466268929?b=1&k=20&m=466268929&s=170667a&w=0&h=L2mMHcqLDet3oSrB6ZKFIqJB7cjpMkNwMif8VADP5tU=); */
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header_section{
    text-align: center;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.521);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.header_section h1 i{
    margin-left: 10px;
}

.header_menu{
    width: 800px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub_menu{
    width: 100px;
    height: 100%;
    text-align: center;
    padding: 9px;
    font-family: Alice, sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #1a181863;
    color: rgba(43, 36, 36, 0.719);
    cursor: pointer;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: initial;
    transition: .3s ease-in-out;
}

.sub_menu:hover{
    font-size: 22px;
    color: rgb(189, 189, 21);
}

.content_section{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.content_section_child{
    width: 1300px;
    height: 100px;
    border-bottom: 1px solid rgba(32, 31, 31, 0.226);
    text-align: center;
    color: rgba(0, 0, 0, 0.726);
    font-size: 70px;
    font-family: "Playfair Display SC", serif;
    font-style: italic;
    letter-spacing: 4px;
    margin-top: 10rem;
}

.content_section p:nth-child(2){
    margin-top: 10rem;
}

.contents{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.header_content{
    width: 1700px;
    height:100%;
}

.content_section2{
    width: 200px;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.452);
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-top: 3rem;

}

.header_content_child{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(3, 450px);
    margin-top: 30px;
}

.baraanuud{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baraanuud:nth-child(1){
    background-image: url(https://cdn.shopify.com/s/files/1/0261/4687/products/Clyde_brown_large.jpg?v=1379412622);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}
.baraanuud:nth-child(2){
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-image: url(https://cdn3.shoppy.mn/spree/images/1308464/product/open-uri20220418-1906773-fmhpb0.);
}
.baraanuud:nth-child(3){
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-image: url(https://cdn3.shoppy.mn/spree/images/1308466/product/open-uri20220418-1906795-dfpldj.);
}
.baraanuud:nth-child(4){
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-image: url(https://cdn3.shoppy.mn/spree/images/1306695/product/open-uri20220415-1797231-1a7ax6u.);
}
.baraanuud:nth-child(5){
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-image: url(https://cdn3.shoppy.mn/spree/images/1306677/product/open-uri20220415-1796901-1vkc9q0.);
}
.baraanuud:nth-child(6){
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-image: url(https://cdn3.shoppy.mn/spree/images/1306691/product/open-uri20220415-1796658-1rkgugp.);
}
.baraanuud:nth-child(7){
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-image: url(https://cdn3.shoppy.mn/spree/images/1306661/product/open-uri20220415-1796901-1lsuamx.);
}
.baraanuud:nth-child(8){
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-image: url(https://cdn3.shoppy.mn/spree/images/1308472/product/open-uri20220418-1906795-1ppv37n.);
}
.baraanuud:nth-child(9){
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-image: url(https://cdn3.shoppy.mn/spree/images/1307719/product/open-uri20220415-1859841-1ilb1u5.);
}

.une{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.219);
    color: white;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    opacity: 0;
}

.une:hover{
    opacity: 1;
}

.une h4{
    color: rgba(255, 255, 255, 0.836);
    font-size: 20px;
}

.une h4:nth-child(3){
    color: rgb(228, 228, 24);
    transition: all .2s ease-in-out;
}
.une h4:nth-child(3):hover{
    font-size: 22px;
}

.une2{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.219);
    color: white;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0;
}

.une2:hover{
    opacity: 1;
}

.une2 h4{
    color: rgba(255, 255, 255, 0.836);
    font-size: 20px;
}

.une2 h4:nth-child(3){
    color: rgb(239, 239, 26);
    transition: .2s ease-in-out;
}
.une2 h4:nth-child(3):hover{
    font-size: 22px;
}

.login{
    width: 250px;
    height: 50px;
    position: absolute;
    right: 10rem;
    top: 4rem;
}

.login_child{
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 50px repeat(2, 120px);
    grid-template-rows: 50px;
}

.newtreh{
    width: 100%;
    height: 35px;
    border: 1px solid rgb(199, 196, 37);
    text-align: center;
    padding: .5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
    color: rgba(116, 114, 114, 0.849);
}
.newtreh:hover{
    background-color: rgba(204, 204, 204, 0.521);
    color: rgba(0, 0, 0, 0.76);
}

.burtguuleh{
    width: 100%;
    height: 35px;
    border: 1px solid rgb(199, 196, 37);
    text-align: center;
    padding: .5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
    color: rgba(116, 114, 114, 0.849);
}
.burtguuleh:hover{
    background-color: rgba(204, 204, 204, 0.521);
    color: rgba(0, 0, 0, 0.76);
}

.cart i{
    font-size: 25px;
    color: rgba(108, 93, 93, 0.757);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.cart i:hover {
    font-size: 27px;
    color: rgba(108, 93, 93, 0.958);
}